# node_modules/
# /test-results/
*.hcl
*.tfstate
*.backup
*.txt
.terraform/
tfplan
!/deployments/

#To ignore all items in source
# /[Ss]rc/* 
#
# #Do not ignore the items below
# !/[Ss]rc/images/
# !/[Ss]rc/intlTelInput/
# !/[Ss]rc/index.html
# !/[Ss]rc/jquery.js
# !/[Ss]rc/nicepage.css
# !/[Ss]rc/nicepage.js
# !/[Ss]rc/TeamEagles.css
# !/[Ss]rc/TeamEagles.html


